{
  "file_generated_by": "FlutterFire CLI",
  "purpose": "FirebaseAppID & ProjectID for this Firebase app in this directory",
  "GOOGLE_APP_ID": "1:YOUR_PROJECT_NUMBER:ios:YOUR_IOS_APP_ID",
  "FIREBASE_PROJECT_ID": "your-firebase-project-id",
  "GCM_SENDER_ID": "YOUR_PROJECT_NUMBER"
}
